ion-toolbar {
    --background: transparent;
    --border-color: transparent;
}

.fixed-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.fixed-image {
    position: absolute;
    top: 0;
}
