ion-toolbar {
    --background: transparent;
    --border-color: transparent;
}

app-welcome {
    .fixed-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
}
