<ion-toolbar color="primary">
  <ion-title>首页</ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="start" name="calendar-outline" style="height: 24px; width: 24px;"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="start" name="notifications-outline" style="height: 24px; width: 24px;"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <ion-slides>
    <ion-slide>
      <img src="assets/img/androidbanner.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/androidbanner.png">
    </ion-slide>
  </ion-slides>

  <ion-grid fixed>
    <ion-row>
      
    </ion-row>
    
  </ion-grid>

</ion-content>
