.logo {
    width: 33%;
}
hr {
    height: 1.5px;
    border: none;
    background-color: var(--ion-color-light);
}
.full-width {
    width: 100%;
}

form.normal {
    width: 100%;
    padding: 0px 16px;
}
