<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-col>
        <ion-label>请输入旧密码</ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-col>
    </ion-item>

    <ion-button (click)="onClick()" expand="full" style="background-color: #FF6A3C;">
      确定
    </ion-button>
  </ion-list>
</ion-content>