<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form (ngSubmit)="onSave">
      <ion-item lines="none">
        <ion-col>
          <ion-label>{{ title }}</ion-label>
          <ion-input type="text" placeholder="{{ title }}"></ion-input>
        </ion-col>
      </ion-item>

      <ion-button type="submit" expand="full" style="background-color: #FF6A3C;">
        确定
      </ion-button>

    </form>
  </ion-list>
</ion-content>