ion-content {
    --background: #efefef;
}

ion-list {
    background-color: #efefef;
    padding-left: 16px;
    padding-right: 16px;
    ion-label {
        --color: #767676;
        font-weight: 600;
    }
    ion-item {
        --background: #efefef;
        margin-top: 24px;
    }
    ion-input {
        --background: #ffffff;
        margin-top: 8px;
    }
    ion-button {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}