ion-grid {
    height: 100%;
    align-items: stretch;
    ion-row {
        flex: 10100%;
        height: 100%;
        ion-col[left] {
            background-color: var(--ion-color-light);
        }
    }
}

.list-footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
