<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="商品列表"></ion-back-button>
    </ion-buttons>
    <ion-title>商品分类</ion-title>
    <ion-icon name="add-outline" slot="end" style="height: 24px; width: 24px; margin-right: 16px;"
      [routerLink]="['/category/category-add']" [queryParams]="{title: '大分类'}"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding ion-align-items-stretch">

      <ion-col size="5" class="ion-no-padding" left>
        <ion-list class="ion-no-padding">
          <ion-item lines="full" color="light">
            <ion-label>大分类</ion-label>
          </ion-item>

          <ion-item *ngFor="let category of categories" (click)="onSelectedCategory(category)"
            [ngClass]="{'item-active': category.id === activateCategory.id}" [color]="getItemColor(category.id)">
            <ion-label>{{ category.name }}</ion-label>
          </ion-item>

        </ion-list>
      </ion-col>

      <ion-col size="7" class="ion-no-padding">
        <ion-list class="ion-no-padding">

          <ion-item>
            <ion-label>小分类</ion-label>
          </ion-item>
          <ion-item (click)="onSelect(activeCategory)">
            <ion-label>无小分类进入大分类</ion-label>
          </ion-item>
          <ion-item *ngFor="let category of activateSubCategories" (click)="onSelectedSubCategory(category)">
            <ion-label>{{ category.name }}</ion-label>
          </ion-item>

          <ion-item lines="none" [routerLink]="['/category/category-add']"
            [queryParams]="{title: activeCategory?.name, id: activeCategory?.id}">
            <ion-text color="primary">
              <ion-icon name="add-circle-outline"></ion-icon>
              新增小分类
            </ion-text>
          </ion-item>
        </ion-list>

        <ion-item class="list-footer" lines="none" no-margin>
          <ion-text *ngIf="activateSubCategories?.length === 0" lines="none">暂无没有小分类</ion-text>
          <ion-text *ngIf="activateSubCategories?.length !== 0 " lines="none">
            共{{ activateSubCategories?.length }}种商品分类
          </ion-text>
          <ion-buttons slot="end">
            <ion-button (click)="onPresentActionSheet()" expend="clear">
              <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>