<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>修改库存</ion-title>
    <ion-button slot="end" color="primary" routerLink="/product-log" [queryParams]="{barcode: product.barcode}"
      class="tab-item">
      出入库记录
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="nopadding" color="light">
  <div class="select">
    <ion-segment [(ngModel)]="increOrDecre">
      <ion-segment-button value="IncreaseStock">入库</ion-segment-button>
      <ion-segment-button value="DecreaseStock">出库</ion-segment-button>
    </ion-segment>
  </div>

  <form #modifyInfor="ngForm">
    <ion-list>
      <ion-item>
        <ion-label>{{ inputDescribe[increOrDecre] }}</ion-label>
        <ion-input type="number" placeholder="输入数量" [(ngModel)]="change" name="change" clearInput="true" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>备注</ion-label>
        <ion-input type="text" [(ngModel)]="remark" name="remark" placeholder="输入备注" clearInput="true"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <div text-right style="padding-left: 8px;">
    <ion-note>当前库存：{{ product.stock }}件</ion-note>
  </div>
  <ion-button expand="full" [disabled]="modifyInfor.invalid" (click)="onConfirm()" color="primary">{{
    buttonDescribe[increOrDecre] }}</ion-button>
</ion-content>