<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>店铺设置</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list inset="true" lines="full">
    <ion-item detail [routerLink]="['/setting/shop/edit']" [queryParams]="{title: '店铺名称'}">
      <ion-label>店铺名称</ion-label>
    </ion-item>

    <ion-item detail [routerLink]="['/setting/shop/edit']" [queryParams]="{title: '店铺简称'}">
      <ion-label>店铺简称</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>注册时间</ion-label>
      <ion-note style="align-self: center; font-size: 13px;">{{ user.createTime | date: "yyyy-MM-dd HH:mm:ss" }}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label>手机号码</ion-label>
      <ion-note style="align-self: center; font-size: 13px;">{{ user.phone }}</ion-note>
    </ion-item>
  </ion-list>

  <ion-list inset="true" lines="full">
    <ion-item>
      <ion-label>电子邮件</ion-label>
      <ion-note style="align-self: center; font-size: 13px;">{{ user.email }}</ion-note>
    </ion-item>

    <ion-item detail [routerLink]="['/setting/shop/edit']" [queryParams]="{title: '店主姓名'}">
      <ion-label>店主姓名</ion-label>
    </ion-item>

    <ion-item detail [routerLink]="['/setting/shop/edit']" [queryParams]="{title: '店铺电话'}">
      <ion-label>店铺电话</ion-label>
    </ion-item>

    <ion-item detail [routerLink]="['/setting/shop/edit']" [queryParams]="{title: '行业类型'}">
      <ion-label>行业类型</ion-label>
    </ion-item>
  </ion-list>

</ion-content>