<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>设置</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list inset="true" lines="full">
    <ion-item detail [routerLink]="['/setting/shop-edit']">
      <ion-label>店铺设置</ion-label>
    </ion-item>

    <ion-item detail [routerLink]="['/setting/change-password']">
      <ion-label>修改密码</ion-label>
    </ion-item>

  </ion-list>

  <ion-list inset="true" lines="full">
    <ion-item detail>
      <ion-label>关于我们</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>联系客服</ion-label>
      <ion-note style="align-self: center; font-size: 13px; font-weight: bold; color: #629ad9;">
        {{ appConfig.phone }}
      </ion-note>
    </ion-item>

    <ion-item detail>
      <ion-label>版本号:  {{ appConfig.version }}</ion-label>
      <ion-note style="align-self: center; font-size: 13px;">检测更新</ion-note>
    </ion-item>

  </ion-list>

  <ion-list inset="true" lines="full">
    <ion-item detail>
      <ion-label>安全退出</ion-label>
    </ion-item>
  </ion-list>

</ion-content>