<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>店铺信息</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list inset="true" lines="full">
    <ion-item detail>
      <ion-label>店铺名称</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>店铺简称</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>注册时间</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>联系客服</ion-label>
      <ion-note slot="end">15960033388</ion-note>
    </ion-item>
  </ion-list>

  <ion-list inset="true" lines="full">
    <ion-item>
      <ion-label>电子邮件</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>店主姓名</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>店铺电话</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>行业类型</ion-label>
    </ion-item>
  </ion-list>

</ion-content>