<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ headTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list style="padding: 0%;">
    <ion-item-divider *ngIf="title !== '大分类'" color="light">
      <ion-label>{{ title }}</ion-label>
    </ion-item-divider>

    <ion-item-divider *ngIf="title == '大分类'" style="margin-bottom: 15px;">
      <ion-label position="fixed">大分类</ion-label>
      <ion-input name="catName" type="text" required placeholder="商品大分类名称"></ion-input>
    </ion-item-divider>

  </ion-list>

</ion-content>