<div>
  <ion-toolbar color="primary">
    <ion-title slot="start">我的</ion-title>
    <ion-icon slot="end" name="settings-outline" style="height: 24px; width: 24px; margin-right: 16px;"
      [routerLink]="['/setting']"></ion-icon>
  </ion-toolbar>
  <ion-item color="primary">
    <ion-label>
      <ion-text>
        <h2>{{ shop.shopName }}</h2>
      </ion-text>
      <p>{{ shop.shopTel }}</p>
    </ion-label>
    <ion-badge slot="end" color="light">高级版</ion-badge>
  </ion-item>

  <ion-list>
    <ion-menu-toggle auto-hide="false" *ngFor="let appPage of appPages">
      <ion-item detail [routerDirection]="'root'" [routerLink]="appPage.url">
        <ion-icon slot="start" [name]="appPage.icon"></ion-icon>
        <ion-label>{{ appPage.title }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>

</div>