<ion-header>
  <ion-toolbar>
    <ion-title>ProductAdd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-thumbnail (click)="onPresentActionSheet()" slot="start">
      <img src="assets/img/supplier_icon.png">
    </ion-thumbnail>
    <ion-note>上传图片</ion-note>
  </ion-item>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-button expand="full" color="primary">
          完成
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button expand="full" color="primary">
          继续添加
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>