<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>新增商品</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-divider>
    <ion-thumbnail (click)="onPresentActionSheet()" slot="start">
      <img src="assets/img/supplier_icon.png">
    </ion-thumbnail>
    <ion-thumbnail *ngFor="let image of product.images" style="margin-right: 8px;">
      <img src={{ image }} />
    </ion-thumbnail>
    <ion-note style="align-self: center; margin-right: 8px;" slot="end">上传图片</ion-note>
  </ion-item-divider>

  <form>

    <ion-list lines='full'>
      <ion-item>
        <ion-label>
          条码
          <ion-text color="primary">*</ion-text>
        </ion-label>
        <ion-input name="barCode" [(ngModel)]="product.barcode" type="text" placeholder="输入商品条形码" required></ion-input>
        <ion-icon name="scan-outline" slot="end" color="primary" (click)="onScan()"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>
          名称
          <ion-text color="primary">*</ion-text>
        </ion-label>
        <ion-input name="productName" [(ngModel)]="product.name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          分类
          <ion-text color="primary">*</ion-text>
        </ion-label>
        <ion-note slot="end">{{ product.categoryName }}</ion-note>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>
          售价
          <ion-text color="primary">*</ion-text>
        </ion-label>
        <ion-input name="productSellPrice" [(ngModel)]="product.sellPrice" type="number" placeholder="输入商品售价" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>进价</ion-label>
        <ion-input name="productPurchasePrice" [(ngModel)]="product.purchasePrice" type="number" placeholder="输入商品进价"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>库存</ion-label>
        <ion-input name="productStock" [(ngModel)]="product.stock" type="number" placeholder="输入商品库存"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>规格</ion-label>
        <ion-input name="productSpecification" [(ngModel)]="product.specification" type="text" placeholder="规格 型号 尺码"></ion-input>
      </ion-item>

      <ion-item (click)="presentAlertPrompt()">
        <ion-label style="width: auto; flex: none; margin-right: 8px;">供应商</ion-label>
        <ion-label style="color: #a3a3a3;">{{ supplierDisplayName }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>备注</ion-label>
        <ion-input name="productRemark" [(ngModel)]="product.remark" type="text" placeholder="输入商品备注"></ion-input>
      </ion-item>

    </ion-list>

  </form>



</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-button expand="full" color="primary">
          完成
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button expand="full" color="primary">
          继续添加
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>