<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="商品列表"></ion-back-button>
    </ion-buttons>
    <ion-title>商品详情</ion-title>
    <ion-icon slot="end" name="ellipsis-vertical-outline" (click)="onPresentPopover($event)"
      style="width: 24px; height: 24px; margin-right: 16px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="nopadding" color="light">
  <form>
    <ion-item-divider>
      <ion-thumbnail *ngFor="let image of product?.images">
        <img src={{ image }}>
      </ion-thumbnail>
      <ion-text *ngIf="product.images == null">无图片</ion-text>
    </ion-item-divider>
    <ion-list class="nopadding">
      <ion-item>
        <ion-label>名称</ion-label>
        <ion-note slot="end" style="font-size: 12pt;">{{ product?.name }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>分类</ion-label>
        <ion-note slot="end" style="font-size: 12pt;">{{ product?.categoryName }}</ion-note>
      </ion-item>
      <ion-item lines="none">
        <ion-label>条码</ion-label>
        <ion-note slot="end" style="font-size: 12pt;">{{ product?.barcode }}</ion-note>
      </ion-item>
    </ion-list>

    <ion-list style="margin-top: 5%;" class="nopadding">
      <ion-item>
        <ion-label>进价</ion-label>
        <ion-note *ngIf="checkPrice === true" style="font-size: 12pt;" slot="end">¥{{ product?.purchasePrice| number:'1.2-2' }}
        </ion-note>
        <ion-button slot="end" *ngIf="checkPrice === false" (click)="checkUser()" size="small" color="primary"
          expand="block" fill="outline">查看进价</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>售价</ion-label>
        <ion-note slot="end" style="font-size: 12pt;">¥{{ product?.sellPrice| number:'1.2-2' }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>规格</ion-label>
        <ion-note style="font-size: 12pt;" slot="end">{{ product?.specification }}</ion-note>
      </ion-item>
      <ion-item lines="none">
        <ion-label>库存</ion-label>
        <ion-note style="font-size: 12pt;" slot="end">{{ product?.stock }}</ion-note>
      </ion-item>
    </ion-list>

  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="primary" routerLink="product-stock"
          [queryParams]="{barcode: product.barcode}">出/入库</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="primary" (click)="onPresentActionSheet()">分享</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>