<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <form #passwordForm="ngForm" (ngSubmit)="onSubmitPassword(passwordForm)">
      <ion-item lines="none">
        <ion-col>
          <ion-label>请输入旧密码</ion-label>
          <ion-input name="oldPassword" [(ngModel)]="passwordConfig.oldPassword" #oldPassword="ngModel" type="password"
            required></ion-input>
        </ion-col>
      </ion-item>
      <ion-item lines="none">
        <ion-col>
          <ion-label>请输入新密码</ion-label>
          <ion-input name="newPassword" [(ngModel)]="passwordConfig.newPassword" #newPassword="ngModel" type="password"
            required></ion-input>

          <ion-text class="ion-text-left" color="danger" *ngIf="newPassword.touched">
            <p [hidden]="!newPassword.errors?.pattern" style="font-size: 10pt;">密码长度6-16位，由数字、英文、符号三种字符类型构成，至少包含两种类型字符
            </p>
            <p [hidden]="!newPassword.errors?.required" style="font-size: 10pt;">密码不能为空</p>
          </ion-text>

        </ion-col>
      </ion-item>


      <ion-item lines="none">
        <ion-col>
          <ion-label>请再一次输入密码</ion-label>
          <ion-input name="confirmPassword" [(ngModel)]="passwordConfig.confirmPassword" #confirmPassword="ngModel"
            type="password" [appConfirm]="newPassword.value" required></ion-input>
        </ion-col>
      </ion-item>
    </form>

    <ion-item *ngIf="confirmPassword.invalid && confirmPassword.touched" lines="none">
      <ion-text color="danger" *ngIf="confirmPassword.errors?.confirm" style="font-size: 10pt;">
        两次密码不一致
      </ion-text>
      <ion-text color="danger" *ngIf="confirmPassword.errors?.required" style="font-size: 10pt;">
        请输入确认密码
      </ion-text>
    </ion-item>

    <ion-button expand="full" style="background-color: #FF6A3C;">
      确定
    </ion-button>
  </ion-list>
</ion-content>